body {
    margin: 20px;
    background-color: black;
    color: wheat;
}

.logo {
    height: 100;
    width: 150px;
}

.nav {
    text-align: right;
    color: wheat;
    list-style-type: none;
}
button:hover {
    background-color: #abc825;
}
.w3-button:hover {
    background-color: #abc825;
}
.w3-round-large:hover {
    background-color: #abc825;
}
.w3-ripple:hover {
    background-color: #abc825;
}
li {
    display: inline;
    padding: 20px;
}